set_io LED2 A1 
set_io LED3 A2 
set_io LED4 A5 
set_io clk R9 
set_io AUDIO_SDIN T8 
set_io AUDIO_SCLK T7 
set_io AUDIO_LRCLK T6 
set_io AUDIO_MCLK T5 
set_io CBSEL P13
set_io PMOD1_1 P2
set_io PMOD1_2 R2 
set_io PMOD1_3 T1 
set_io PMOD1_4 T3
set_io PMOD1_7 P1
set_io PMOD1_8 R1
set_io PMOD1_9 R3
set_io PMOD1_10 T2
set_io PMOD2_1 K1 
set_io PMOD2_2 L3
set_io PMOD2_3 M2 
set_io PMOD2_4 N3 
set_io PMOD2_7 K3 
set_io PMOD2_8 L1 
set_io PMOD2_9 M1 
set_io PMOD2_10 N2 
set_io PMOD3_1 F2 
set_io PMOD3_2 G3
set_io PMOD3_3 H1 
set_io PMOD3_4 J2 
set_io PMOD3_7 F1 
set_io PMOD3_8 G2 
set_io PMOD3_9 H2 
set_io PMOD3_10 J1 
set_io PMOD4_1 B3 
set_io PMOD4_2 C3 
set_io PMOD4_3 D3 
set_io PMOD4_4 E3 
set_io PMOD4_7 B2 
set_io PMOD4_8 C2 
set_io PMOD4_9 D2 
set_io PMOD4_10 E2 
set_io P_A6 A6 
set_io P_A7 A7 
set_io P_A9 A9 
set_io P_A10 A10 
set_io P_A11 A11 
set_io P_B6 B6 
set_io P_B7 B7 
set_io P_B8 B8 
set_io P_B9 B9 
set_io P_B11 B11 
set_io A0 C16 
set_io A1 T15 
set_io A2 R16 
set_io A3 R15 
set_io A4 P16 
set_io A5 P15 
set_io A6 N16 
set_io A7 M16 
set_io A8 M15 
set_io A9 L16 
set_io A10 T14 
set_io A11 R14  
set_io A12 P14 
set_io A13 L14 
set_io A14 D14 
set_io A15 C14 
set_io D0 D16 
set_io D1 D15 
set_io D2 B16 
set_io D3 B15 
set_io D4 A16 
set_io D5 A15 
set_io D6 E16 
set_io D7 F15 
set_io D8 F16 
set_io D9 G15 
set_io D10 G16 
set_io D11 J15 
set_io D12 J16 
set_io D13 K15 
set_io D14 K16 
set_io D15 T16 
set_io FSMC_NOE F14 
set_io FSMC_NWE H14 
set_io FSMC_NE1 J14 
set_io FSMC_NE4 K14 
set_io FSMC_NL_NADV B14
set_io FPGA_SPI_SCLK R10
set_io FPGA_SPI_MOSI P10
set_io FPGA_SPI_MISO N12
set_io FPGA_SPI_CS T13
set_io FSMC_CLK K9 
